<div class="col-sm-12">
  <div class="row" style="margin-top: 90px;">
    <div class="col-md-6" style="width: 50%;">
      <h1 class="text-6 text-white fw-600 mb-4">
                    My Education
      </h1>
      <div class="bg-dark rounded p-4 mb-4" 
                        style="font-size: medium;">
                    <p class="badge bg-danger text-2 fw-400">2010 - 2017</p>
                    <h3 class="text-5 text-white">GCE Advanced Level</h3>
                    <p style="color: #20c997;">College P.L. Fleming</p>
                    <p class="text-white-50 mb-0">
                        In Cameroon, In the French-speaking system, 
                        this is called the Baccalaureat series IT (Information Technology).
                    </p>
                     <a class="btn btn-outline-success rounded-pill" 
                    style="border-color: #28a745; align-items: center;
                  width: 170px; height: 50px;" href="#contact">Hire Me</a>
                </div>
            </div>
<router-outlet ></router-outlet>
