<div class="col-sm-12 a11">
  <div class="row rr1">
    <div class="col-md-4 r1">
      <div class="rounded">
        <div class="row l1">
          <div class="col-md-4 l11">
            <h1>
              <a href="#" class="previous">&#8249; </a>
            </h1>
          </div>
          <div class="col-md-4 l12">
            <p>My Planning</p>
          </div>
          <div class="col-md-4 l13">
            <span class="fass"><i class="fa-regular fa-pen-to-square"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3 class="l2">
              $800 / <b> $5700 </b>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5 class="l3">
              <i class="l31">-10.5%</i> <i class="l32"> than last week </i>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="rounded r11">
            <div class="col-md-12 b1">
              <div class="col-md-6">
                <h5 class="bb1">Buy a house </h5>
              </div>
              <div class="col-md-6 bb2">
                <h2>...</h2>
              </div>
            </div>
              <div class="col-md-12">
                <p class="date">10 May 2022</p>
              </div>
              <div class="col-md-12 b2">
                <span class="float-end fe">15%</span>
                   <div class="progress progress-sm" style="width: 100%;"                                                                                                                                                                                                                                                                                                                                                                                                                                      >
                      <div class="progress-bar" role="progressbar" 
                                        style="width: 15%" aria-valuenow="15" 
                                        aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
              </div>
              <div class="col-md-12">
                <p class="target"> 
                  <i class="fa-solid fa-calendar-days"></i> 
                     <span class="sp">Target for 30 December 2022 </span>
                </p>
              </div>
          </div>
        </div>
        <div class="row b3">
          <div class="col-md-6 b31">
            <b>History</b>
          </div>
          <div class="col-md-6">
            <div class="rounded b32" >
              <i class="fa-solid fa-calendar-days cal"></i> 
               <span class="w">Weekly </span><span class="v"> v</span> 
            </div>   
          </div>
        </div>
        <div class="row rounded c1">
          <div class="col-md-2 rounded c11">
            <img class="image1" style="margin-left: 05%;" src="../assets/Images/1w.png"/>
          </div>
          <div class="col-md-6 c12">
            <span class="c121"> Saving</span> <br/>
            <span class="c122"> Apr 18, 2022</span>
          </div>
          <div class="col-md-3 c13">
            <span class="c131"> + $12</span>
          </div>
        </div>
        <div class="row rounded d1">
          <div class="col-md-2 rounded c11">
            <img class="image1" style="margin-left: 05%;" src="../assets/Images/2w.png"/>
          </div>
          <div class="col-md-6 c12">
            <span class="c121"> Withdrawal</span> <br/>
            <span class="c122"> Apr 15, 2022</span>
          </div>
          <div class="col-md-3 c13">
            <span class="c132"> + $23</span>
          </div>
        </div>
        <div class="row rounded d1">
          <div class="col-md-2 rounded c11">
            <img class="image1" style="margin-left: 05%;" src="../assets/Images/1w.png"/>
          </div>
          <div class="col-md-6 c12">
            <span class="c121"> saving</span> <br/>
            <span class="c122"> Apr 11, 2022</span>
          </div>
          <div class="col-md-3 c13">
            <span class="c131"> + $42</span>
          </div>
        </div>
        <button class="row rounded e1">
          <div class="col-md-12">
            <span class="e11"> + Saving</span>
          </div>
        </button>
        <div class="row">
          <div class="col-md-12 empty">
            
          </div>
        </div>

        </div>
      </div>



      <!-----------------------------------------  Second div ------------------------->
      <!-----------------------------------------  Second div ------------------------->
      <!-----------------------------------------  Second div ------------------------->
      <!-----------------------------------------  Second div ------------------------->


    <div class="col-md-4 r1">
      <div class="rounded">
        <div class="row e2">
          <div class="col-md-12">
            <div class="col-md-3">
              <img class="img-fluid rounded-circle" src="../assets/Images/profile1.jpg" alt="">
            </div>
            <div class="col-md-6 r12">
              <p class="name">Hallo, Azhar !</p>
              <p class="welcome">Welcome back</p>
            </div>
            <div class="col-md-3">
              <div class="rounded-circle circle">
                  <i class="fa-solid fa-bell"></i>
                  <span class="badge">.</span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
              <img class="tof" src="../assets/Images/images.png">
          </div>
          <div class="col-md-12 r122">
            <div class="col-md-6">
              <p class="r123">Your Balance </p> <br>
              <p class="r124"> $592.323</p>
            </div>
            <div class="col-md-6 r121">
              <p class="r125">Traffic / Week </p> <br>
              <p class="r126"> 
                <i class="fa fa-arrow-down"></i>
                -0.89%
              </p>
            </div>
          </div>
          <div class="col-md-12 r21">
            <p class="transaction">Transaction</p>
            <p class="all">See All</p>
          </div>
          <div class="row rounded d8">
            <div class="col-md-2 rounded d11">
              <img class="image2" src="../assets/Images/images1.png"/>
            </div>
            <div class="col-md-6 c12">
              <span class="c121"> Adobe Photoshop</span> <br/>
              <span class="d122"> May 10, 2022 at 08.45</span>
            </div>
            <div class="col-md-3 c13">
              <span class="d131"> + $52</span>
            </div>
        </div>
        <div class="row rounded d2">
          <div class="col-md-2 rounded d11">
            <img class="image2" src="../assets/Images/images2.png"/>
          </div>
          <div class="col-md-6 c12">
            <span class="c121"> Antonsen</span> <br/>
            <span class="d122"> May 07, 2022 at 10.50</span>
          </div>
          <div class="col-md-3 c13">
            <span class="d132"> + $11.5</span>
          </div>
        </div>
        <div class="row rounded d3">
          <div class="col-md-2 rounded d11">
            <img class="image2" src="../assets/Images/images3.png"/>
          </div>
          <div class="col-md-6 c12">
            <span class="c121"> Sketch</span> <br/>
            <span class="d122"> May 01, 2022 at 09.15</span>
          </div>
          <div class="col-md-3 c13">
            <span class="c132"> - $15</span>
          </div>
        </div>
      </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class=" rounded">
        55555
      </div>
    </div>
  </div>
</div>
<router-outlet ></router-outlet>

